*~
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
*.swp
*.pidb
*.suo
*.dll
*.user
*[Bb]in/
*[Oo]bj/
*resharper*
_Resharper*/
*Thumbs.db
*.svn
